<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server.js</title>
    <style>
      html,
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
      }
      main {
        width: 100%;
        max-width: 1200px;
        margin: 50px auto;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Server.js 2</h1>
      <p>A small home for the demo</p>
      <a href="/login"><button>Login</button></a>
      <a href="/register"><button>Register</button></a>
    </main>
  </body>
</html>
