<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> nav}}
    <main>
      <div class="flex">
        <div class="thirty">
          <aside>
            <div class="scroller">
              {{#each config.videos}}
                <section>
                  <h3>
                    <div class="more"><img src="/img/plus.svg" /></div>
                    <a href="#{{this.link}}">{{this.title}}</a>
                  </h3>
                  <div class="submenu">
                    {{#each this.sections}}
                      {{> vlink to=this.link label=this.title }}
                    {{/each}}
                  </div>
                </section>
              {{/each}}
            </div>
          </aside>
        </div>
        <div class="seventy">
          <div class="embed">
            <div>
              <iframe src="https://player.vimeo.com/video/434253548" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/umbrellajs" charset="utf-8"></script>
    <script type="text/javascript">
      const $ = u;
      const setFrame = id => {
        $('a').removeClass('active');
        $(`[data-video="${id}"]`).addClass('active');
        $('iframe').replace(`
          <iframe src="https://player.vimeo.com/video/${id}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        `);
      };
      if (window.location.hash) {
        setFrame(window.location.hash.slice(1));
      } else {
        $($('aside a').first()).addClass('active');
      }
      $('aside a').on('click', e => setFrame($(e.currentTarget).data('video')));


      const showSection = (section) => {
        if (!section.is) section = $(section);
        if (!section.is("section")) section = section.closest("section");
        const isActive = section.hasClass("active");
        section.toggleClass("active", !isActive);
        const menu = section.find(".submenu").first();
        const height = isActive ? 0 : menu.scrollHeight;
        console.log(height + "px");
        menu.style.maxHeight = height + "px";
        section.find("h3 img").attr("src", `/img/${isActive ? "plus" : "minus"}.svg`);
      };

      if (/^\/screencasts\/?$/.test(window.location.pathname)) {
        showSection($(".more").first());
      } else {
        showSection($(`a[href="${window.location.pathname}"]`));
      }

      $(".more").on("click", (e) => {
        showSection(e.currentTarget);
      });
    </script>
  </body>
</html>
