<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> nav}}
    <main>
      <div class="flex">
        <div class="thirty">
          <aside>
            <h3>Screencasts</h3>
            {{> vlink to="434253548" label="Installing server.js" }}
            {{> vlink to="434970483" label="Rendering a page" }}
            {{> vlink to="434970506" label="Simple router" }}
            {{> vlink to="434970532" label="Submit a form" }}
            {{> vlink to="432360866" label="Receive files" }}
            {{> vlink to="355789315" label="Connect middleware" }}
            {{> vlink to="431523139" label="Environment variables" }}

            <h3>HTTP Router</h3>
            {{> vlink to="431523139" label="All HTTP methods" }}
            {{> vlink to="432360866" label="URL Queries" }}
            {{> vlink to="355789315" label="URL Parameters" }}
            {{> vlink to="431523139" label="Combine routers" }}
            {{> vlink to="432360866" label="Middleware for a router" }}
            {{> vlink to="355789315" label="Advanced parameters" }}

            <h3>Websockets</h3>
            {{> vlink to="355789315" label="Connecting the front-end" }}
            {{> vlink to="431523139" label="Sending messages" }}
            {{> vlink to="432360866" label="Using channels" }}
            {{> vlink to="355789315" label="Middleware for a router" }}
            {{> vlink to="431523139" label="Advanced parameters" }}

            <h3>Configuration</h3>
            {{> vlink to="432360866" label="Enable CORS" }}
            {{> vlink to="355789315" label="Managing files" }}
            {{> vlink to="431523139" label="Data validation" }}
            {{> vlink to="432360866" label="" }}
            {{> vlink to="355789315" label="" }}
            {{> vlink to="431523139" label="" }}

          </aside>
        </div>
        <div class="seventy">
          <div class="embed">
            <div>
              <iframe src="https://player.vimeo.com/video/434253548" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/umbrellajs" charset="utf-8"></script>
    <script type="text/javascript">
      const $ = u;
      const setFrame = id => {
        $('a').removeClass('active');
        $(`[data-video="${id}"]`).addClass('active');
        $('iframe').replace(`
          <iframe src="https://player.vimeo.com/video/${id}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        `);
      };
      if (window.location.hash) {
        setFrame(window.location.hash.slice(1));
      } else {
        $($('aside a').first()).addClass('active');
      }
      $('aside a').on('click', e => setFrame($(e.target).data('video')));
    </script>
  </body>
</html>
