# To test this demo, copy this file to .env and fill in the providers you want.
# The demo enables each provider that has its *_ID set, and shows one button per
# enabled provider. Set each provider's OAuth redirect/callback URL to:
#   http://localhost:3000/auth/callback/<provider>

# GitHub:    https://github.com/settings/developers
GITHUB_ID=
GITHUB_SECRET=

# Google:    https://console.cloud.google.com/apis/credentials
GOOGLE_ID=
GOOGLE_SECRET=

# Microsoft: https://entra.microsoft.com  (App registrations)
MICROSOFT_ID=
MICROSOFT_SECRET=

# Discord:   https://discord.com/developers/applications
DISCORD_ID=
DISCORD_SECRET=

# Facebook:  https://developers.facebook.com/apps
FACEBOOK_ID=
FACEBOOK_SECRET=

# Apple:     https://developer.apple.com  (Sign in with Apple)
APPLE_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
