<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> nav}}
    <main>
      <div class="flex">
        <div class="thirty">
          <aside>
            <div class="scroller">
              <form class="search">
                <input name="search" placeholder="Search Tutorials" />
                <div class="results"></div>
              </form>
              {{#each config.tuts}}
                <section>
                  <h3>
                    <div class="more"><img src="/img/plus.svg" /></div>
                    <a href="{{this.link}}">{{this.title}}</a>
                  </h3>
                  <div class="submenu">
                    {{#each this.sections}}
                      {{> link to=this.link label=this.title }}
                    {{/each}}
                  </div>
                </section>
              {{/each}}
            </div>
          </aside>
        </div>
        <div class="seventy">
          <article>
            {{{ body }}}
          </article>
        </div>
      </div>
    </main>
    <script src="https://unpkg.com/prismjs@1.20.0/prism.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/umbrellajs" charset="utf-8"></script>
    <script src="/documentation/script.js" charset="utf-8"></script>
  </body>
</html>
