<!DOCTYPE html>
<html lang="en">
  {{> head
    title="Node.js Server"
    description="A library to easily create a modern Node.js server. Handles HTTP, Websockets and all the small details."
  }}
  <body>
    {{> nav}}
    <div class="hero">
      <div style="border: 2px solid red; background: #faa; margin: 0 0 20px;border-radius: 8px; padding: 10px 20px;">WORK IN PROGRESS; WEBSITE NOT YET USABLE</div>
      <div class="flex one two-600">
        <div>
          <h1>Node.js Server</h1>
          <p>
            A library to easily create a modern Node.js server. Handles HTTP, Websockets and all the small details:
          </p>
          <pre class="install"><code>npm install server</code></pre>
          <div>
            <a href="/documentation#getting-started" class="button">
              Getting Started
            </a>
          </div>
        </div>
        <div>
<pre><code class="language-js">import server, { get, post } from &quot;server&quot;;
server(
  get(&quot;/&quot;, () =&gt; &quot;Hello world&quot;),
  post(&quot;/users&quot;, ctx =&gt; {
    console.log(ctx.body, ctx.files);
    return &#39;ok&#39;;
  })
);</code></pre>
        </div>
      </div>
    </div>
    <main class="home">
      <div class="features">
        <div class="flex one two-500 three-800">
          <div>
            <div class="feature">
              <img src="/img/battery.svg"><h3>Batteries on</h3>
              <p>Everything needed is loaded by default, just write your app.</p>
            </div>
          </div>
          <div>
            <div class="feature">
              <img src="/img/socketio.svg"><h3>socket.io</h3>
              <p>Fully managed websockets with channels, reconnect, etc.</p>
            </div>
          </div>
          <div>
            <div class="feature">
              <img src="/img/modern.svg"><h3>Modern ES7+</h3>
              <p>Use modern JS with <code>async</code>, <code>await</code><code>import</code>, <code>export</code>, etc.
              </p>
            </div>
          </div>
          <div>
            <div class="feature">
              <img src="/img/document.svg"><h3>Documented</h3>
              <p>Extensive docs, tutorials and videos make it easy to learn.</p>
            </div>
          </div>
          <div>
            <div class="feature">
              <img src="/img/lock.svg"><h3>Secure</h3>
              <p>Safe by default while fully configurable CORS, CSRF, etc.</p>
            </div>
          </div>
          <div>
            <div class="feature">
              <img src="/img/lego.svg"><h3>Extensible</h3>
              <p>Compatible with thousands of existing Express.js libraries.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://unpkg.com/prismjs@1.20.0/prism.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/umbrellajs" charset="utf-8"></script>
    <script src="/documentation/script.js" charset="utf-8"></script>
  </body>
</html>
