$space: 15px;
$radius: 10px;

$picnic-breakpoint: 700px;

$picnic-primary: #f55;

$middle: 800px;
$large: 1100px;

$picnic-separation: $space;
$picnic-grid-gutter: 30px;

@import "../node_modules/picnic/src/picnic.scss";
@import "okaidia";

body {
  background: #f1f1ff;
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;
  line-height: 1.5;

  font-family: "Montserrat", sans-serif;
  color: #336;

  font-size: 16px;
  padding: 80px 15px 15px;

  @media (min-width: $large) {
    font-size: 18px;
    padding: 100px 0 0 0;
  }
}

nav {
  position: absolute;
  padding: 0 15px;
  @media (min-width: $large) {
    padding: 0 calc(50% - #{$large / 2});
  }
  .brand {
    padding: 0;
    @media (min-width: $large) {
      padding: 0 15px;
    }
  }
  .logo {
    height: 30px;
  }
  .menu > * {
    margin-right: $space;
  }
  .menu a {
    color: #336;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }

    cursor: pointer;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid #f55;
    }
  }
}

.hero {
  max-width: $large;
  margin: 0 auto;

  @media (min-width: $large) {
    margin: 30px auto 50px;
  }

  p {
    margin: 5px 0;
  }

  pre[class*="language-"] {
    margin-bottom: 0;
    background: #fff;
    border: navajowhite;
    box-shadow: 2px 2px 4px -2px rgba(17, 17, 17, 0.2);

    code {
      background: #fff;
    }
  }

  .install {
    background: white;
    width: auto;
    display: inline-block;
    border: none;
    padding: 6px 20px;
    margin: 5px 0;
    border-radius: 0;
  }

  code {
    font-size: 16px;
    background: none;
  }

  img {
    width: 100%;
  }

  .button {
    margin: 0;
    font-weight: bold;
    padding: 5px 15px;
  }
}

h1 {
  padding: 0;
}

main {
  max-width: $large;
  margin: 0 auto 100px;
}

aside {
  background: white;
  box-shadow: 2px 2px 4px -2px rgba(17, 17, 17, 0.2);
  position: sticky;
  top: 0;

  .scroller {
    padding: 15px 15px 50px;
    height: 100vh;
    overflow: auto;
    // padding-bottom: 50px;

    @media (min-width: $large) {
      padding: 20px;
      width: auto;
    }

    & > *:last-child {
      margin-bottom: 50px;
    }
  }

  .search {
    position: relative;
    margin-bottom: 20px;

    &::after {
      position: absolute;
      content: "/";
      width: 20px;
      height: 24px;
      top: 7px;
      right: 8px;
      font-size: 14px;
      text-align: center;
      border-radius: 4px;
      background: #fff;
      line-height: 24px;
    }
  }

  input {
    border-color: transparent;
    background: #f5f5f5;
    padding: 5px 8px;

    &:focus {
      border-color: transparent;
    }
  }

  .results {
    position: relative;
    width: 100%;
    margin-top: -2px;
    height: 0;
    padding: 0 8px;
    overflow: hidden;
    background: #f5f5f5;
    border-radius: 0 0 6px 6px;
    z-index: 1;
    border-top: 2px solid transparent;
    transition: height 0.2s ease;
  }

  .active .results,
  input:focus + .results {
    height: 200px;
    border-top: 2px solid #eee;
  }

  section {
    margin: 0 0 10px;
  }

  .more {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #f5f5f5;
    line-height: 20px;
    margin-right: 6px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    transition: all 0.1s ease;

    &:hover {
      background: #ddd;
    }

    &:active {
      background: #ccc;
    }

    img {
      margin: 2px;
      display: block;
    }
  }

  .submenu {
    padding-left: 26px;
    transition: all 0.3s ease;
    max-height: 0;
    overflow: hidden;
  }

  h3 {
    font-size: 18px;
    padding: 0;
    margin: 0;
    display: flex;
  }

  a {
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: inherit;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 8px;
    cursor: pointer;
    box-shadow: 0 2px transparent;

    &.active,
    &:hover {
      box-shadow: 0 2px #f55;
    }
  }

  img {
    display: inline;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    vertical-align: middle;
    opacity: 0.6;
    margin-right: 5px;
  }

  span {
    vertical-align: middle;
  }
}

.thirty {
  width: calc(100% + 30px);
}

.seventy {
  width: calc(100% + 30px);
}

@media (min-width: $large) {
  .thirty {
    width: 30%;
  }

  .seventy {
    width: 70%;
  }
}

article {
  background: white;
  padding: 15px;
  box-shadow: 2px 2px 4px -2px rgba(17, 17, 17, 0.2);

  @media (min-width: $large) {
    padding: 30px;
  }

  h1 {
  }

  h2 {
    scroll-margin-top: 15px;
  }
}

.features {
  .feature {
    background: white;
    padding: 20px;
    border-radius: $radius;
    box-shadow: 2px 2px 4px -2px rgba(17, 17, 17, 0.2);
  }
  img {
    width: 40px;
    display: inline-block;
  }
  h3 {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
  }
  p {
    margin: 3px;
  }
}

article {
  blockquote {
    margin: 0;
    padding: 5px 10px;
    background: #fffbd9;
    box-shadow: none;
    border-radius: $radius;
    border: 2px solid #fff8c3;

    p {
      margin: 0;
    }
  }
}

code {
  padding: 2px 5px;
}

pre,
code,
code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
  font-family: "Source Code Pro", serif;
  font-size: 16px;
}

pre,
pre[class*="language-"] {
  margin: 0 #{-$space} $space;
  padding: 10px $space;
  border-radius: 0;
}

@media (min-width: $middle) {
  pre,
  pre[class*="language-"] {
    margin: 0 0 $space;
    padding: 10px 15px;
    border-radius: $radius;
  }
}

.embed {
  position: sticky;
  top: 100px;

  & > div {
    position: relative;
    width: 100%;
    padding-bottom: 63%;
    height: 0;
    overflow: hidden;
  }
}

.embed iframe,
.embed object,
.embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article {
  p {
    margin: 10px 0;
  }

  h2,
  h3 {
    padding: 0;
    margin: 40px 0 10px;
  }
}

article table {
  width: 100%;

  th,
  td {
    background: none;
    color: #333;
    border: 2px solid #eee;
    word-break: break-word;
    padding: 5px 10px 5px 5px;
  }

  tr:nth-child(2n) {
    background: #fff;
  }
}
